body {
  min-height: max(884px, 100dvh);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

@media screen and (min-width: 768px) {
  body {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
    
}
